<%- include('partials/header') %>

<h1> Followers - <%= userDetails.username %> </h1>

<ol>
    <% userDetails.followers.forEach((follower) => { %>
        <li>
            <a href="/users/<%= follower %>">
                <%= follower %>
            </a>
        </li>
    <% }) %>
</ol>



<%- include('partials/footer') %>
